<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- latest minified jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

    <!-- master css -->
    <link rel="stylesheet" href="/css/master.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- materialize fixes -->
    <link rel="stylesheet" href="/css/materializefixes.css">

    <!--google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abel|Anton|Quicksand|Source+Serif+Pro" rel="stylesheet">


    <script type="text/javascript" src='/main.js'>

    </script>

    <title>SSMADR Admin</title>
  </head>
  <body>

    <ul id="slide-out" class="side-nav fixed tabs">
      <div class="col s12 blue">
        <h4 class="white-text">Admin Portal</h4>
      </div>
      <% for(let i = 0; i < partners.length; i++){%>
        <li class=""><a href="#<%= partners[i].id %>"><%=partners[i].first_name %> <%= partners[i].last_name %></a></li>
      <%}%>
  </ul>

  <div class="row">

    <% for(let i = 0; i < partners.length; i++){%>

        <div id="<%= partners.id %>" class="col s12">
          <%for(let j = 0; j < bios.lenght; j++){%>
            Test 1
          <%}%>
        </div>

    <%}%>


      <% for(let i = 0; i < bios.length; i++){%>
        <div class="col s8  offset-s3">
          <textarea class="custom-textarea">
            <%= bios[i].paragraph %>
          </textarea>
        </div>
      <%}%>


  </div>




  </body>
</html>
