<!DOCTYPE html>
<html>
  <head>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- latest minified jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

    <!-- master css -->
    <link rel="stylesheet" href="/css/master.css">

    <!-- couch css -->
    <link rel="stylesheet" href="/css/customMaterialize.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- materialize fixes -->
    <link rel="stylesheet" href="/css/materializefixes.css">

    <!--google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abel|Anton|Quicksand|Source+Serif+Pro" rel="stylesheet">

    <link rel="icon" href="/images/fav.ico" type="image/gif" sizes="16x16">

    <script type="text/javascript" src='/main.js'>

    </script>

    <title>Skelly, Muchmore & Oberbillig LLC - Mediation and Arbitration Services</title>
    <meta name="description" content="Skelly, Muchmore & Oberbillig Mediation Services, LLP is a partnership between Judge Christopher Skelly, Charles J. Muchmore, and Judge Robert H. Oberbillig. The firm offers mediation and arbitration services throughout Arizona." />

  </head>
  <body>

    <!-- heading -->
      <nav class="hide-on-small-only">
        <div class="nav-wrapper blue hide-on-small-only">
          <ul id="nav-mobile" class=" hide-on-small-only quicksand ">
            <li class="spacing center-align"><a href="#members">Members</a></li>
            <li class="spacing center-align"><a class="modal-trigger" href="#email">Contact Us</a></li>
            <li class="spacing center-align"><a class="modal-trigger nowrap" href="#scheduling">Scheduling</a></li>
            <li class="spacing center-align"><a href="#location">Location</a></li>
            <li class="spacing center-align"><a href="#fee" class="modal-trigger">Fees</a></li>
          </ul>
        </div>
      </nav>

      <nav class="blue hide-on-med-and-up">
        <div class="nav-wrapper ">
          <ul id="slide-out" class="side-nav left hide-on-med-and-up">
            <li><a href="#members"><span class=" name">Members</a></li>
            <li><a href="#email" class="modal-trigger">Contact Us</a></li>
            <li><a href="#scheduling" class="modal-trigger"><span class=" email">Online Scheduling</a></li>
            <li><a href="#location">location</a></li>
            <li><a href="#fee" class="modal-trigger">Fees</a></li>
          </ul>
          <a href="#" data-activates="slide-out" class="button-collapse left "><i class="material-icons hide-on-med-and-up">menu</i></a>
        </div>
      </nav>

    <div class="row top-span">
      <div class="col l12 m12 s12  logo-box">
        <span class="logo logo-top ">Skelly, Muchmore & Oberbillig L.L.C.</span><br>
        <span class="logo logo-bottom ">Mediation and Arbitration Services</span>
      </div>
    </div>

    <!-- partners -->
    <div class="row" id="members">
      <div class="col l6 m6 s8 offset-l3 offset-m3 offset-s2 center-align">
        <h4 class="able">Members</h4>
      </div>
    </div>
    
    <div class="row">

      <!-- partner 1  med and up-->
      <div class="col m4 l4 hide-on-small-only  ">
        <div class="row">
          <div class="col s12">
            <img src="<%= partners[0].img %>" alt="" class="img img-size">
          </div>
        </div>
        <div class="row">
          <h5 class="center-align serif">
            <%= partners[0].title %> <%= partners[0].first_name %> <%= partners[0].middle_initial %>. <%=partners[0].last_name %>
          </h5>
          <div class="col m12 l8 offset-l2">
            <a class="waves-effect waves-light blue darken-2 btn centerbtn" href="/partner/<%= partners[0].id %>">More</a>
          </div>
        </div>
      </div>

      <!-- partner 2 -->
      <div class="col m4 l4 hide-on-small-only  ">
        <div class="row">
          <div class="col s12">
            <img src="<%= partners[1].img %>" alt="" class="img img-size">
          </div>
        </div>
        <div class="row">
          <h5 class="center-align serif">
            <%= partners[1].title %> <%= partners[1].first_name %> <%= partners[1].middle_initial %>. <%=partners[1].last_name %>
          </h5>
          <div class="col m12 l8 offset-l2">
            <a class="waves-effect waves-light blue darken-2 btn centerbtn" href="/partner/<%= partners[1].id %>">More</a>
          </div>
        </div>
      </div>

      <!-- partner 3 -->
      <div class="col m4 l4 hide-on-small-only ">
        <div class="row">
          <div class="col s12">
            <img src=" <%= partners[2].img %>" alt="" class="img secondary-img-size">
          </div>
        </div>
        <div class="row">
          <h5 class="center-align serif">
            <%= partners[2].title %> <%= partners[2].first_name %> <%= partners[2].middle_initial %>. <%=partners[2].last_name %>
          </h5>
          <div class="col m12 l8 offset-l2">
            <a class="waves-effect waves-light blue darken-2 btn centerbtn" href="/partner/<%= partners[2].id %>">More</a>
          </div>
        </div>
      </div>


      <!-- partner 1 small only -->
      <div class="col s12">
        <a href="/partner/<%= partners[0].id %>" class="btn blue darken-2 hide-on-med-and-up" style="width: 100%; margin-top:10px; margin-bottom: 10px;"><%= partners[0].title %> <%= partners[0].first_name %> <%= partners[0].middle_initial %>. <%=partners[0].last_name %></a>
      </div>
      <!-- partner 2 small only -->
      <div class="col s12">
        <a href="/partner/<%= partners[1].id %>" class="btn blue darken-2 hide-on-med-and-up" style="width: 100%; margin-top:10px; margin-bottom: 10px;"><%= partners[1].title %> <%= partners[1].first_name %> <%= partners[1].middle_initial %>. <%=partners[1].last_name %></a>
      </div>

      <!-- partner 3 small only -->
      <div class="col s12">
        <a href="/partner/<%= partners[2].id %>" class="btn blue darken-2 hide-on-med-and-up" style="width: 100%;margin-top:10px; margin-bottom: 10px;"><%= partners[2].title %> <%= partners[2].first_name %> <%= partners[2].middle_initial %>. <%=partners[2].last_name %></a>
      </div>

    </div>

  <!--buttons -->

    <!-- contact us -->
    <div class="row bottom-row">
      <div class="col s12 m6 l6 icons-border ">
        <a class="modal-trigger" href="#email"><i class="material-icons large blue-text scale-pad-top" >mail</i></a>
        <h4 class="center-align scale-pad-bottom">Contact us</h4>
      </div>

      <!-- scheduling  -->
      <div class="col s12 m6 l6 icons-border">
        <a class="modal-trigger" href="#scheduling"><i class="material-icons large blue-text scale-pad-top">date_range</i></a>
        <h4 class="center-align scale-pad-bottom">Online Scheduling</h4>
      </div>


      <!-- location -->
      <div class="col s12 m12 l12 icons-border">
        <i class="material-icons large blue-text" id="location">location_on</i>
        <h4 class="center-align">Location</h4>
        <p class="center-align">1313 E. Osborn Road #120, Phoenix, Arizona 85014</p>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l12" id="map">

      </div>
    </div>

    <div class="row ">
      <div class="col s12">

      <h4 class="center-align quicksand" id="cases">Case Experience</h4>
      <div class="row">
        <div class="col s4  ">
          <p class="center-align">ADA Disability</p>
          <p class="center-align">Agricultural</p>
          <p class="center-align">Anti-Trust</p>
          <p class="center-align">Appellate</p>
          <p class="center-align">Automotive</p>
          <p class="center-align">Aviation</p>
          <p class="center-align">Banking & Finance</p>
          <p class="center-align">Civil Rights</p>
          <p class="center-align">Class Actions</p>
          <p class="center-align">Commercial/Business</p>
          <p class="center-align">Community Associations</p>
          <p class="center-align">Construction</p>
          <p class="center-align">Consumer Fraud</p>
          <p class="center-align">Contract Disputes</p>
          <p class="center-align">EEOC</p>
          <p class="center-align">Eminent Domain</p>
          <p class="center-align">Employment</p>
          <p class="center-align">Engineering</p>
          <p class="center-align">Environmental</p>
          <p class="center-align">Family Businesses</p>
          <p class="center-align">Franchise</p>
        </div>
        <div class="col s4 ">
          <p class="center-align">Health Care</p>
          <p class="center-align">Industrial</p>
          <p class="center-align">Insurance</p>
          <p class="center-align">Intellectual Property</p>
          <p class="center-align">International</p>
          <p class="center-align">Landlord/Tenant	</p>
          <p class="center-align">Legal Malpractice</p>
          <p class="center-align">Lemon Law</p>
          <p class="center-align">Libel & Slander</p>
          <p class="center-align">Local Government	</p>
          <p class="center-align">Media & Communications</p>
          <p class="center-align">Medical Malpractice	</p>
          <p class="center-align">Mergers & Acquisitions</p>
          <p class="center-align">Native American</p>
          <p class="center-align">Natural Disasters</p>
          <p class="center-align">Non-profit Organizations</p>
          <p class="center-align">Nursing Homes</p>
          <p class="center-align">Partnerships</p>
          <p class="center-align">Personal Injury</p>
          <p class="center-align">Pharmaceuticals</p>
          <p class="center-align">Police</p>
        </div>
        <div class="col s4 ">
          <p class="center-align">Premises Liability</p>
          <p class="center-align">Probate</p>
          <p class="center-align">Product Liability</p>
          <p class="center-align">Professional Fees</p>
          <p class="center-align">Professional Liability</p>
          <p class="center-align">Professional Malpractice</p>
          <p class="center-align">Professional Negligence</p>
          <p class="center-align">Real Estate</p>
          <p class="center-align">Religious Institutions</p>
          <p class="center-align">Securities</p>
          <p class="center-align">Shareholder Disputes</p>
          <p class="center-align">Software</p>
          <p class="center-align">Sports</p>
          <p class="center-align">Technology</p>
          <p class="center-align">Title Disputes</p>
          <p class="center-align">Torts</p>
          <p class="center-align">Transportation</p>
          <p class="center-align">Trusts / Estates</p>
          <p class="center-align">Utilities</p>
          <p class="center-align">Workers' Compensation</p>
          <p class="center-align">Wrongful Death</p>
        </div>
      </div>
      </div>
    </div>

  <!-- Modals -->

  <!-- contact -->
  <div id="email" class="modal custom-modal">
    <div class="modal-content">
      <div class="row">
        <h4>Send us an email</h4>
        <form class="col s12">

          <div class="row">
            <div class="col s12">
              <div class="input-field col s6">
                <select>
                  <option value="" disabled selected>Recipient</option>
                    <% for(let i =0; i < partners.length; i++){%>
                        <option class="blue-text" value="<%= partners[i].email %>"><%= partners[i].first_name %> <%= partners[i].middle_initial %>. <%=partners[i].last_name %></option>
                    <%}%>
                  <option class="blue-text" value="dlegge@ssmadr.com">Scheduling</option>
                </select>
              </div>
              <div class="input-field col s6">
                <input id="email" type="email" placeholder="Your Email Address" class="border">
              </div>
            </div>
            </div>

          <div class="row">
            <div class="input-field col s12">
              <textarea id="icon_prefix2" class="custom-textarea"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="inout-field col s12">
              <input type="submit" name="" value="Send" class="btn blue right">
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

  <!--schedule -->
  <div id="scheduling" class="modal custom-modal">
    <div class="modal-content">
      <div class="row ">

        <div class="col s12">
          <h4 class="center-align">Online scheduling</h4>
        </div>

        <div class="row">

          <div class="col s12  l4 center-align ">
            <p class="center-align" >Christopher Skelly</p>
            <iframe src="http://www.nadn.org/mycalendar-small.php?id=577414834&bg=FFFFFF&text=000000"></iframe>
            <div class="col s12">
              <img src="http://www.nadn.org/images/Cal-NADNKey.gif" border="0" width="231" height="62">
            </div>
          </div>

          <div class="col s12 l4 center-align ">
            <p class="center-align" >Charles Muchmore</p>
            <iframe src="http://www.nadn.org/mycalendar-small.php?id=159744438&bg=FFFFFF&text=000000"></iframe>
            <div class="col s12">
              <img src="http://www.nadn.org/images/Cal-NADNKey.gif" border="0" width="231" height="62">
            </div>
          </div>

          <div class="col s12 l4 center-align">
            <p class="center-align">Robert Oberbillig</p>
            <iframe src="http://www.nadn.org/mycalendar-small.php?id=605446516&bg=FFFFFF&text=000000"></iframe>
            <div class="col s12">
              <img src="http://www.nadn.org/images/Cal-NADNKey.gif" border="0" width="231" height="62">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <!-- fee -->
  <div id="fee" class="modal custom-modal">
    <div class="modal-content">
      <div class="row ">

        <div class="col s12">
          <h4 class="center-align">Fees</h4>
        </div>

        <div class="row">

          <!-- fee -->
          <div class="row">
            <div class="col s12 m10 l10 offset-m1 offset-l1">

              <p class="center-align"><b>Hourly Mediation/Arbitration/Special Master Rate: $500.00</b><br>
              Unless the parties direct otherwise, we will send a statement representing one-half of the total to counsel for each of the parties at the conclusion of the hearing. Unfortunately, there have been occasions in the past when the parties have refused to pay the fee once the matter was resolved. We considered requiring payment in advance, but decided to simply ask the attorneys to be jointly responsible with their clients for our fee. Participation in the mediation will constitute your acceptance of that responsibility. </p>


              <p class="center-align"><b>Cancellation Policy: </b><br>  In the event a matter is cancelled or rescheduled within 15 days before the scheduled date, a cancellation fee of $1,500.00 will be assessed for a half-day ($3,000.00 for a full-day) case unless other cases can be scheduled in those time slots. We will make every effort to reschedule. Any cancellation fee will be allocated equally between the parties, unless we are advised that the parties have a different agreement. We appreciate your understanding and cooperation concerning the necessity of a cancellation fee. </p>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


    <!-- footer -->
    <footer class="page-footer light-blue darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text sans">Skelly, Muchmore & Oberbillig L.L.C.</h5>
            <p class="grey-text text-lighten-4">1313 E. Osborn Road #120</p>
            <p class="grey-text text-lighten-4">Phoenix, Arizona 85014</p>
            <p class="grey-text text-lighten-4 quicksand">(602) 277-8228</p>
          </div>

        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Copyright © 2015 by Skelly, Muchmore & Oberbillig LLC.
        </div>
      </div>
    </footer>
    <script>
      function initMap() {
        var ssmadr = {lat: 33.4872326, lng: -112.0539487};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: ssmadr
        });
        var marker = new google.maps.Marker({
          position: ssmadr,
          map: map
        });
      }
    </script>
    <script async defer
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcpf0LvCV3KJ54RPzruos7qeWqHcUuSGI&callback=initMap">
    </script>
  </body>
</html>
