<!DOCTYPE html>
<html>
  <head>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- latest minified jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

    <!-- master css -->
    <link rel="stylesheet" href="/css/master.css">

    <!-- couch css -->
    <link rel="stylesheet" href="/css/customMaterialize.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- materialize fixes -->
    <link rel="stylesheet" href="/css/materializefixes.css">

    <!--google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abel|Anton|Quicksand|Source+Serif+Pro" rel="stylesheet">


    <script type="text/javascript" src='/main.js'>

    </script>

    <title>Scott, Skelly & Muchmore</title>
  </head>
  <body>

    <!-- heading -->
      <nav class="hide-on-small-only">
        <div class="nav-wrapper blue hide-on-small-only">
        <ul id="nav-mobile" class=" hide-on-small-only quicksand ">
          <li class="spacing center-align"><a href="#partners">Partners</a></li>
          <li class="spacing center-align"><a class="modal-trigger" href="#email">Contact Us</a></li>
          <li class="spacing center-align"><a class="modal-trigger nowrap" href="#scheduling">Scheduling</a></li>
          <li class="spacing center-align"><a href="#location">Location</a></li>
          <li class="spacing center-align"><a href="#fee">Fee</a></li>
        </ul>
        </div>
      </nav>
      <nav class="blue hide-on-med-and-up">
        <div class="nav-wrapper ">
          <ul id="slide-out" class="side-nav left hide-on-med-and-up">
            <li><a href="#partners"><span class=" name">Partners</a></li>
            <li><a href="#email" class="modal-trigger">Contact Us</a></li>
            <li><a href="#scheduling" class="modal-trigger"><span class=" email">Online Scheduling</a></li>
            <li><a href="#location">location</a></li>
            <li><a href="#fee">Fee</a></li>
          </ul>
          <a href="#" data-activates="slide-out" class="button-collapse left "><i class="material-icons hide-on-med-and-up">menu</i></a>
        </div>
      </nav>

    <div class="row top-span">
      <div class="col l12 m12 s12  logo-box">
          <span class="logo logo-top ">Scott, Skelly & Muchmore L.L.C.</span><br>
          <span class="logo logo-bottom ">Mediation and Arbitration Services</span>
      </div>
    </div>

    <!-- partners -->
    <div class="row" id="partners">
      <div class="col l6 m6 s8 offset-l3 offset-m3 offset-s2 center-align">
        <h4 class="able">Partners</h4>
      </div>
    </div>
    <div class="row top-row ">

      <!-- partner 1  med and up-->
      <div class="col l6 m12 hide-on-small-only">
        <div class="card horizontal">
          <div class="card-image">
            <img src="/images/scott.jpg"  class="responsive-img">
          </div>
          <div class="card-stacked">
            <span class="card-title serif "><%= partners[0].title %> <%= partners[0].first_name %> <%= partners[0].middle_initial %>. <%=partners[0].last_name %> </span>
            <div class="card-content">
              <p>Stephen H. Scott is a former judge on the Arizona Superior Court in Maricopa County, Arizona, who now serves full-time as a mediator, arbitrator, appraisal umpire and discovery master.</p>
            </div>
            <div class="card-action">
              <a href="/partner/<%= partners[0].id %>" class="btn blue darken-2" style='width: 100%;'>More</a>
            </div>
          </div>
        </div>
      </div>

      <!-- partner 2 -->
      <div class="col l6 m12 hide-on-small-only">
        <div class="card horizontal">
          <div class="card-image">
            <img src="/images/skelly.jpg">
          </div>
          <div class="card-stacked">
            <span class="card-title serif "><%= partners[1].title %> <%= partners[1].first_name %> <%= partners[1].middle_initial %>. <%=partners[1].last_name %> </span>
            <div class="card-content">
              <p>Christopher M. Skelly conducts mediations and arbitrations and serves as a special master and discovery master in civil cases. He also serves as an insurance appraisal umpire.</p>
            </div>
            <div class="card-action">
              <a href="/partner/<%= partners[1].id %>" class="btn blue darken-2" style='width: 100%;'>More</a>
            </div>
          </div>
        </div>
      </div>

      <!-- partner 3 -->
      <div class="col l6 m12 hide-on-small-only offset-l3">
        <div class="card horizontal">
          <div class="card-image">
            <img src="/images/muchmore.jpg"  class="responsive-img">
          </div>
          <div class="card-stacked">
            <span class="card-title serif "><%= partners[2].title %> <%= partners[2].first_name %> <%= partners[2].middle_initial %>. <%=partners[2].last_name %> </span>
            <div class="card-content">
              <p>Charles J. Muchmore has broad and varied litigation and ADR experience that includes handling professional liability, personal injury, product liability, construction, insurance coverage, and commercial litigation matters.</p>
            </div>
            <div class="card-action">
              <a href="/partner/<%= partners[2].id %>" class="btn blue darken-2" style='width: 100%; '>More</a>
            </div>
          </div>
        </div>
      </div>

      <!-- partner 1 small only -->
      <div class="col s12">
        <a href="/partner/<%= partners[0].id %>" class="btn blue darken-2 hide-on-med-and-up" style="width: 100%; margin-top:10px; margin-bottom: 10px;">Hon. Stephen H. Scott</a>
      </div>
      <!-- partner 2 small only -->
      <div class="col s12">
        <a href="/partner/<%= partners[1].id %>" class="btn blue darken-2 hide-on-med-and-up" style="width: 100%; margin-top:10px; margin-bottom: 10px;">Hon. Christopher M. Skelly</a>
      </div>

      <!-- partner 3 small only -->
      <div class="col s12">
        <a href="/partner/<%= partners[2].id %>" class="btn blue darken-2 hide-on-med-and-up" style="width: 100%;margin-top:10px; margin-bottom: 10px;">Charles J. Muchmore</a>
      </div>
    </div>

  <!--buttons -->
    <!-- contact us -->
    <div class="row bottom-row">
      <div class="col s12 m6 l6 icons-border ">
        <a class="modal-trigger" href="#modal1"><i class="material-icons large blue-text scale-pad-top" >mail</i></a>
        <h4 class="center-align scale-pad-bottom">Contact us</h4>
      </div>

      <!-- scheduling  -->
      <div class="col s12 m6 l6 icons-border">
        <a class="modal-trigger" href="#scheduling"><i class="material-icons large blue-text scale-pad-top">date_range</i></a>
        <h4 class="center-align scale-pad-bottom">Online Scheduling</h4>
      </div>


      <!-- location -->
      <div class="col s12 m12 l12 icons-border">
        <i class="material-icons large blue-text" id="location">location_on</i>
        <h4 class="center-align">Location</h4>
        <p class="center-align">1313 E. Osborn Road #120, Phoenix, Arizona 85014</p>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l12" id="map">

      </div>
    </div>

    <!-- fee -->
    <div class="row">
      <div class="col s12 m10 l10 offset-m1 offset-l1">
        <h4 class="center-align quicksand" id="fee">Fee</h4>
        <p class="center-align">  We would appreciate mediation memoranda which generally follow the format specified in Rule 16.1(c), Arizona Rules of Civil Procedure, at least one week prior to the mediation. If you have briefed dispositive motions, you could send copies of those and then just brief supplemental memoranda covering the topics listed in subparagraphs 3, 4 and 5 of the rule. Absent agreement to the contrary, any memoranda that are submitted to us should be exchanged between counsel, and anyone participating in the mediation should read the memoranda prior to the conference. If you wish to submit a separate confidential memorandum, please feel free to do so.</p>


        <p class="center-align"><b>Hourly Mediation/Arbitration/Special Master Rate: $500.00</b><br>
        Unless the parties direct otherwise, we will send a statement representing one-half of the total to counsel for each of the parties at the conclusion of the hearing. Unfortunately, there have been occasions in the past when the parties have refused to pay the fee once the matter was resolved. We considered requiring payment in advance, but decided to simply ask the attorneys to be jointly responsible with their clients for our fee. Participation in the mediation will constitute your acceptance of that responsibility. </p>


        <p class="center-align"><b>Cancellation Policy: </b><br>  In the event a matter is cancelled or rescheduled within 15 days before the scheduled date, a cancellation fee of $1,500.00 will be assessed for a half-day ($3,000.00 for a full-day) case unless other cases can be scheduled in those time slots. We will make every effort to reschedule. Any cancellation fee will be allocated equally between the parties, unless we are advised that the parties have a different agreement. We appreciate your understanding and cooperation concerning the necessity of a cancellation fee. </p>

      </div>
    </div>

  <!-- Modals -->

  <!-- contact -->
  <div id="email" class="modal">
    <div class="modal-content">
      <div class="row">
        <h4>Send us an email</h4>
        <form class="col s12">

          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="first_name">Your Email Address</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <textarea id="icon_prefix2" class="custom-textarea"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="inout-field col s12">
              <input type="submit" name="" value="Send" class="btn blue right">
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

  <!--schedule -->
  <div id="scheduling" class="modal custom-modal">
    <div class="modal-content">
      <div class="row ">
        <div class="col s12">
          <h4 class="center-align">Online scheduling</h4>

        </div>

        <div class="row">

          <div class="col s12 l4 center-align">
            <p class="center-align">Steve Scott</p>
            <iframe src="http://www.nadn.org/mycalendar-small.php?id=577414834&bg=FFFFFF&text=000000"></iframe>
            <div class="col s12">
              <img src="http://www.nadn.org/images/Cal-NADNKey.gif" border="0" width="231" height="62">
            </div>
          </div>

          <div class="col s12  l4 center-align ">
            <p class="center-align" >Chris Skelly</p>
            <iframe src="http://www.nadn.org/mycalendar-small.php?id=121869450&bg=FFFFFF&text=000000"></iframe>
            <div class="col s12">
              <img src="http://www.nadn.org/images/Cal-NADNKey.gif" border="0" width="231" height="62">
            </div>
          </div>

          <div class="col s12 l4 center-align ">
            <p class="center-align" >Charles Muchmore</p>
            <iframe src="http://www.nadn.org/mycalendar-small.php?id=159744438&bg=FFFFFF&text=000000"></iframe>
            <div class="col s12">
              <img src="http://www.nadn.org/images/Cal-NADNKey.gif" border="0" width="231" height="62">
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>


    <!-- footer -->
    <footer class="page-footer light-blue darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text sans"> Scott, Skelly & Muchmore L.L.C.</h5>
            <p class="grey-text text-lighten-4">1313 E. Osborn Road #120</p>
            <p class="grey-text text-lighten-4">Phoenix, Arizona 85014</p>
            <p class="grey-text text-lighten-4 quicksand">(602) 277-8228</p>
          </div>

        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Copyright © 2015 by Scott. Skelly & Muchmore LLC.
        </div>
      </div>
    </footer>
    <script>
      function initMap() {
        var ssmadr = {lat: 33.4872326, lng: -112.0539487};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: ssmadr
        });
        var marker = new google.maps.Marker({
          position: ssmadr,
          map: map
        });
      }
    </script>
    <script async defer
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcpf0LvCV3KJ54RPzruos7qeWqHcUuSGI&callback=initMap">
    </script>
  </body>
</html>
